<?xml version="1.0" ?>
<!-- 
  UNIVERSIDAD NACIONAL DE COLOMBIA
  DEPARTAMENTO DE ING. MECANICA Y MECATRONICA
  SEMILLERO DE ROBOTICA MOMENTUN
  LABORATORIO / ROBOTICA 2020-1
  PROF: PEDRO CARDENAS
  
  URDF ROBOT DESCRITION EXAMPLE FOR GAZEBO SIMULATION
  AUTHOR: JURGEN KREJCI MUNOZ
  MAIL: jhkrejcim@unal.edu.co
  ROBOT: 2R
  VERSION: 1.0
  -->

<robot name="2R" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Include-->
  <xacro:include filename="$(find 2R_Gazebo)/urdf/links_joints.xacro" />
  <xacro:include filename="$(find 2R_Gazebo)/urdf/robot_parameters.xacro" />
  <!-- END - Include -->

  <!-- Robot description -->

  <link name="world"/>  <!-- Base link from Gazebo-->

  <joint name="fixed" type="fixed"> <!-- Joint to fix the base so it does not move-->
    <parent link="world"/>
    <child link="${link_00_name}"/>
  </joint>

  <m_link_mesh name="${link_00_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://2R_Gazebo/CAD/Base.stl"
    mass="1.024"
    ixx="170.0" ixy="0" ixz="0"
    iyy="170.0" iyz="0"
    izz="170.0"	
  />

  <m_joint name="${joint_01_name}" 
    type="revolute"
    axis_xyz="0 0 1"
    origin_rpy="1.57 -1.57 0" origin_xyz="0 2 8.5"
    parent="${link_00_name}" child="${link_01_name}"
    limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.5" 
  />

  <m_link_mesh name="${link_01_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://2R_Gazebo/CAD/Link1.stl"
    mass="1.570"
    ixx="130.0" ixy="0" ixz="0"
    iyy="130.0" iyz="0"
    izz="90.0"	
  />

  <m_joint name="${joint_02_name}" 
    type="revolute"
    axis_xyz="0 0 1"
    origin_rpy="0 0 0" origin_xyz="15 0 1"
    parent="${link_01_name}" child="${link_02_name}"
    limit_e="100" limit_l="-3.14" limit_u="3.14" limit_v="0.5" 
  />

  <m_link_mesh name="${link_02_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://2R_Gazebo/CAD/Link2.stl"
    mass="0.057"
    ixx="12.0" ixy="0" ixz="0"
    iyy="12.0" iyz="0"
    izz="12.0"	
  />

  <m_joint name="${joint_03_name}" 
    type="prismatic"
    axis_xyz="0 0 1"
    origin_rpy="0 1.57 -1.57" origin_xyz="15.25 5 1"
    parent="${link_02_name}" child="${link_03_name}"
    limit_e="100" limit_l="0" limit_u="2" limit_v="0.5" 
  />

  <m_link_mesh name="${link_03_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://2R_Gazebo/CAD/Finger.stl"
    mass="0.018"
    ixx="0.5" ixy="0" ixz="0"
    iyy="0.5" iyz="0"
    izz="0.5"	
  />

  <m_joint_mimic name="${joint_04_name}" 
    type="prismatic"
    axis_xyz="0 0 1"
    origin_rpy="0 -1.57 -1.57" origin_xyz="15.25 -5 1"
    parent="${link_02_name}" child="${link_04_name}"
    limit_e="100" limit_l="0" limit_u="2" limit_v="0.5"
    mimic_joint="${joint_03_name}" m_multiplier="1" m_offset="0" 
  />

  <m_link_mesh name="${link_04_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://2R_Gazebo/CAD/Finger.stl"
    mass="0.018"
    ixx="0.5" ixy="0" ixz="0"
    iyy="0.5" iyz="0"
    izz="0.5"	
  />

  <!-- END - Robot description -->

  <!-- Gazebo Plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>

