<?xml version="1.0" ?>
<!-- 
  UNIVERSIDAD NACIONAL DE COLOMBIA
  DEPARTAMENTO DE ING. MECANICA Y MECATRONICA
  LABORATORIO / ROBOTICA 2020-1
  PROF: PEDRO CARDENAS
  
  URDF ROBOT DESCRIPTION EXAMPLE FOR GAZEBO SIMULATION
  AUTHOR: JURGEN H. KREJCI MUNOZ
  ROBOT: 2R
  MAIL: jhkrejcim@unal.edu.co
  VERSION: 1.1
  TESTED ON ROS NOETIC (UBUNTU 20.04.1 LTS)
  https://github.com/JurgenHK/2R-Manipulator-URDF
  -->

<robot name="2R" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Include-->
  <xacro:include filename="$(find basic_2r_gazebo)/urdf/links_joints.xacro" />
  <xacro:include filename="$(find basic_2r_gazebo)/urdf/robot_parameters.xacro" />
  <!-- END - Include -->

  <!-- Robot description -->

  <link name="world"/>  <!-- Base link from Gazebo-->

  <joint name="fixed" type="fixed"> <!-- Joint to fix the base so it does not move-->
    <parent link="world"/>
    <child link="${link_00_name}"/>
  </joint>

  <xacro:m_link_mesh name="${link_00_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://basic_2r_gazebo/meshes/Base.stl"
    mass="1"
    ixx="0.01" ixy="0" ixz="0"
    iyy="0.01" iyz="0"
    izz="0.01"	
  />

  <xacro:m_joint name="${joint_01_name}" 
    type="revolute"
    axis_xyz="0 0 1"
    origin_rpy="1.57 -1.57 0" origin_xyz="0 0 0.85"
    parent="${link_00_name}" child="${link_01_name}"
    limit_e="10" limit_l="-3.14" limit_u="3.14" limit_v="5.0" 
  />

  <xacro:m_link_mesh name="${link_01_name}"
    origin_xyz="0 0 -0.2"
    origin_rpy="0 0 0" 
    meshfile="package://basic_2r_gazebo/meshes/Link1.stl"
    mass="1"
    ixx="0.01" ixy="0" ixz="0"
    iyy="0.01" iyz="0"
    izz="0.01"	
  />

  <xacro:m_joint name="${joint_02_name}" 
    type="revolute"
    axis_xyz="0 0 1"
    origin_rpy="0 0 0" origin_xyz="1.5 0 0"
    parent="${link_01_name}" child="${link_02_name}"
    limit_e="10" limit_l="-3.14" limit_u="3.14" limit_v="5.0" 
  />

  <xacro:m_link_mesh name="${link_02_name}"
    origin_xyz="0 0 -0.1"
    origin_rpy="0 0 0" 
    meshfile="package://basic_2r_gazebo/meshes/Link2.stl"
    mass="1"
    ixx="0.01" ixy="0" ixz="0"
    iyy="0.01" iyz="0"
    izz="0.01"	
  />

  <xacro:m_joint name="${joint_03_name}" 
    type="prismatic"
    axis_xyz="0 0 1"
    origin_rpy="0 1.57 -1.57" origin_xyz="1.525 0.5 0"
    parent="${link_02_name}" child="${link_03_name}"
    limit_e="10" limit_l="0" limit_u="0.2" limit_v="5.0" 
  />

  <xacro:m_link_mesh name="${link_03_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://basic_2r_gazebo/meshes/Finger.stl"
    mass="0.5"
    ixx="0.01" ixy="0" ixz="0"
    iyy="0.01" iyz="0"
    izz="0.01"	
  />

  <xacro:m_joint_mimic name="${joint_04_name}" 
    type="prismatic"
    axis_xyz="0 0 1"
    origin_rpy="0 -1.57 -1.57" origin_xyz="1.525 -0.5 0"
    parent="${link_02_name}" child="${link_04_name}"
    limit_e="10" limit_l="0" limit_u="0.2" limit_v="5.0"
    mimic_joint="${joint_03_name}" m_multiplier="1" m_offset="0" 
  />

  <xacro:m_link_mesh name="${link_04_name}"
    origin_xyz="0 0 0"
    origin_rpy="0 0 0" 
    meshfile="package://basic_2r_gazebo/meshes/Finger.stl"
    mass="0.5"
    ixx="0.01" ixy="0" ixz="0"
    iyy="0.01" iyz="0"
    izz="0.01"	
  />

  <!-- END - Robot description -->

  <!-- Gazebo Plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>

