<?xml version="1.0" ?>
<!-- 
  UNIVERSIDAD NACIONAL DE COLOMBIA
  DEPARTAMENTO DE ING. MECANICA Y MECATRONICA
  SEMILLERO DE ROBOTICA MOMENTUN
  LABORATORIO / ROBOTICA 2020-1
  PROF: PEDRO CARDENAS
  
  ROBOT PROPERTIES - ROBOT DESCRITION
  AUTHOR: JURGEN KREJCI MUNOZ
  MAIL: jhkrejcim@unal.edu.co
  VERSION: 1.0
  -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="link_00_name" value="base_link" />
  <xacro:property name="link_01_name" value="link_01" />
  <xacro:property name="link_02_name" value="link_02" />
  <xacro:property name="link_03_name" value="finger_1" />
  <xacro:property name="link_04_name" value="finger_2" />
  <xacro:property name="joint_01_name" value="joint_1" />
  <xacro:property name="joint_02_name" value="joint_2" />
  <xacro:property name="joint_03_name" value="gripper_1" />
  <xacro:property name="joint_04_name" value="gripper_2" />
</robot>
